<h1>You're at the New Post page!</h1>

<form action="/check_new_post" method="post">
	<label>Post Title:</label>
	<input type="text" name="title"></input>
	<label>Post Content:</label>
	<input type="text" name="content"></input>
	<input type="submit" value="Create"></input>
</form>