<h2>All Concerts</h2>

<ul>
	<% @all_concerts.each do |concert| %>
		<li>
			<a href="./show/<%= concert.id %>"><%= concert.artist %></a>
		</li>
	<% end %>
</ul>

<%= link_to 'Add concert', new_path %>