<h1>Welcome to the time tracking tool</h1>

<%= image_tag "dramatic-glasses.gif", alt: "kid dressed with a suite removing his sunglasses in a dramatic way", class: "my_image" %>

<p>Powered by Alberto</p>
