<h1>Your Sandwich Details</h1>

<h2>Sandwich name: <%= @sandwich.name %></h2>
<h3>Bread type: <%= @sandwich.bread_type %></h3>
<h3>Ingredients:</h3>

<ul>
	<li><%= @ingredients.name %> - Calories: <%= @ingredients.calories %></li>
</ul>