<h1>Hi there! You're on the Search page!</h1>

<form action="/search_query" method="post">
	<label>Give me a random word:</label>
	<input type="text" name="random_word"></input>
	<input type="submit" value="Send"></input>
</form>