<h1>My first Sinatra</h1>
	
<h2>
	<b>Author:</b>
	Johnny Appleseed
</h2>

<% if Date.today.tuesday? %>
	<p>
		Izzy tu madre <strong>fuck</strong> doesn't like shit.
	</p>
<% end %>

<p>
	Boomy <%= Date.today %>
</p>
	