<%# add navigation links to this file %>
<!-- Links will go here -->

<li>
	<%= if @current_page != "home"
		link_to "Home", home_path
	end %>
</li>

<li>
	<%= if @current_page != "about"
		link_to "About", about_path
	end %>
</li>

<li>
	<%= if @current_page != "blog"
		link_to "Blog", blog_path
	end %>
</li>

<li>
	<%= if @current_page != "contact"
		link_to "contact", contact_path
	end %>
</li>