<h1>Hi there!</h1>

<form action="/check_login" method="post">
	Username:<br>
	<input type="text" name="username"><br>
	Password:<br>
	<input type="password" name="password"><br>
	<input type="submit" value="Log In">
</form>